aiohttp
bounciepy
geopy
shapely
lxml
eventlet
rtree
python-dotenv
quart
hypercorn
quart_cors
geopandas
asyncio
tqdm
numpy
aiofiles
tenacity
pydantic
httpx
pydantic-settings
cachetools
types-aiofiles
types-tqdm
lxml-stubs
types-python-dateutil
pandas-stubs
types-cachetools
types-shapely
dill
hypercorn
pylint
pytest
pytest-asyncio
PyYAML
snakeviz
defusedxml